* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .balloon-holder {
        height: 10vh;
        width: 10vw;
        position: absolute;
        transition: top 5s ease-in-out;
        img {
            width: 100%;
        }
    }

}
